.card
  .card-body.text-center
    - if draft_pick
      %p= "Round #{round + 1}, Pick #{pick[:number]}"
      %p= draft_pick.player.full_name
      %p= pick[:team].name.titleize
    - else
      %p= "Round #{round + 1}, Pick #{pick[:number]}"
      %p= pick[:team].name.titleize
