%form{action: '/draft_picks', method: 'post'}
  = token_tag(nil)
  = hidden_field_tag 'draft_pick[draft_id]', draft.id
  = hidden_field_tag 'draft_pick[fantasy_team_id]', draft.current_team.id
  = hidden_field_tag 'draft_pick[pick_number]', draft.current_pick
  = hidden_field_tag 'draft_pick[round]', draft.current_round
  -# select field of available_players
  %div#draft_pick_player_id
    %label{for: 'draft_pick_player_id'} Player:
    = render partial: 'players/select', locals: { players: draft.available_players, draft_id: draft.id }
  %input{type: 'submit', value: 'Make Draft Pick', class: 'btn btn-primary' }