%form{action: '/draft_picks', method: 'post'}
  = token_tag(nil)
  = hidden_field_tag 'draft_pick[draft_id]', draft_id
  = hidden_field_tag 'draft_pick[fantasy_team_id]', fantasy_team_id
  = hidden_field_tag 'draft_pick[pick_number]', current_pick
  -# select field of available_players
  %div#draft_pick_player_id
    %label{for: 'draft_pick_player_id'} Player:
    = render partial: 'players/select', locals: { players: @draft.available_players }
  %input{type: 'submit', value: 'Make Draft Pick', class: 'btn btn-primary'}