= form_for @fantasy_team do |form|
  -# name field, with the field already filled in if it exists
  = form.label :name, 'Team Name:', class: 'form-label', for: 'name'
  = form.text_field :name
  %div.actions
    = link_to 'Back', fantasy_league_path(@fantasy_team.fantasy_league), class: 'btn btn-danger'
    = form.submit 'Save', class: 'btn btn-primary'