%h1 Draft #{@draft.id}
%h2 #{@draft.fantasy_league.name}
%h3 Current Pick: #{@draft.current_pick}

- if @draft.active
  = render partial: "draft_picks/form", locals: { draft_id: @draft.id, fantasy_team_id: @draft.current_team.id, current_pick: @draft.current_pick }

  %h3 Draft
  .container
    .container-fluid{data: {controller: "draftpick"}}
      - @draft.order_with_teams.each_slice(@fantasy_teams.size).with_index do |slice, round|
        .row
          - slice.each do |pick|
            .col-xl-2.col-md-3.col-sm-3.form-group.my-1
              = render partial: "draft_picks/draft_pick", locals: { pick_number: pick[:pick], round: round, team: pick[:team] }

      -# reset draft button
      .row
        .col-12
          = button_to "Reset Draft", reset_draft_path(@draft), method: :post, class: "btn btn-danger", style: "width: 100%;"
