%h1 Draft #{@draft.title}
%h2 #{@draft.fantasy_league.name}
%h3 Current Pick: Round #{@draft.current_round}, Pick #{@draft.current_pick} - #{@draft.current_team.name.titleize}

= link_to 'Show Draft Board', board_draft_path(@draft), class: 'btn btn-success'
- if @draft.active
  = render partial: "draft_picks/form", locals: { draft: @draft }
  %h4 Current Round
  %table.table.table-sm.table-bordered
    %thead
      %tr
        - @fantasy_teams.size.times do |i|
          %th.text-center{scope: 'col'}= "#{i + 1}"
    %tbody
      %tr
        - @round.each do |pick|
          %td
            = render partial: "draft_picks/pick", locals: { pick: pick }