%h1 Draft #{@draft.id}
%h2 #{@draft.fantasy_league.name}
%h3 Current Pick: #{@draft.current_pick}

- if @draft.active
  = render partial: "draft_picks/form", locals: { draft: @draft }
  %h3 Draft
  %table 
    - @draft.order.each_slice(@draft.fantasy_teams.count).each do |slice|
      %tr
      - slice.each do |pick, team_id|
        - if draft_pick = DraftPick.find_by(draft_id: @draft.id, pick_number: pick)
          %td= render partial: "draft_picks/draft_pick", locals: { draft_pick: draft_pick }
        - else
          %td{class: pick.to_i == @draft.current_pick ? 'current_pick' : nil}
            = "#{pick} - #{FantasyTeam.find(team_id).name}"
- else
  = link_to 'Start Draft', start_draft_path(draft_id: @draft.id)